html, body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 19px !important;
    background-color: #272934 !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #1f2129;
}

::-webkit-scrollbar {
    width: 9px;
    background-color: #101217;
}

::-webkit-scrollbar-thumb {
    background-color: #585858;
    width: 9px;
    border-radius: 5px;
}

#popup_success,
#popup_error {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px 30px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
}

.popup-content span {
    margin-top: 5px;
    font-weight: bold;
}

#popup_success .popup-content i {
    font-size: 22px;
    color: green;
    margin-left: 10px;
}

#popup_error .popup-content i {
    font-size: 22px;
    color: red;
    margin-left: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fade-in {
    animation-name: fadeIn;
}

.fade-out {
    animation-name: fadeOut;
}

/*input[type="file"] {*/
/*    display: none !important;*/
/*}*/
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 155px !important;
    float: right;
}

.logo {
    margin: 15px 10px 29px 29px;
}

.logo .closebtn {
    color: white !important;
}

.logo a.logo-img {
    padding: 0;
}

.sidebar {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1f2129;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
    transition: 0.3s;
    transition: all 0.35s ease-in-out;
    transform: translateX(0);
}

.sidebar a.nav-item:hover {
    color: #f1f1f1;
    text-decoration: none;
    transform: translateX(20px);
}

.sidebar a.nav-item:focus {
    color: #f1f1f1;
    text-decoration: none;
    transform: translateX(20px);
}

.sidebar .closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 29px;
    margin-left: 50px;
    color: #997b41;
    transition: all 0.35s ease-in-out;
    transform: translateX(0);
}

.sidebar .closebtn:hover {
    transform: translateX(-20px);
}

.sidebar i {
    padding-right: 9px;
}

.sidebar h5 {
    font-weight: bold;
    color: white;
    margin: 15px 0 15px 15px;
}

.sidebar hr {
    margin: 0;
    border-bottom: 1px solid grey;
}

#main {
    margin-left: 302px;
}

.header-section {
    display: flex;
    background: #1f2129;
    padding: 15px 0;
}

.header-left .openbtn {
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    margin: 0 15px;
}

.header-left .form-search input {
    position: relative;
    background: none;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 5px 5px 5px 37px;
    margin-left: 15px;
}

.header-left .form-search i {
    position: absolute;
    color: white;
    left: 107px;
    top: 10px;
}

.header-right {
    display: flex;
    justify-content: right;
    padding-right: 29px !important;
}

.header-right i {
    color: white;
}

.header-right .profile-item {
    display: flex;
    align-items: center;
    border-radius: 22px;
    background: #272934;
}

.header-right .profile-item a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin: 0 10px;
}

.header-right .menu-icon i {
    font-size: 29px;
    padding: 8px 15px 0 0;
}

.header-right .noti-icon i {
    font-size: 29px;
    padding: 8px 15px 0 0;
}

.header-right .dropdown-menu li a {
    padding: 0;
    margin: 0;
}

.header-right .dropdown-menu li a:hover {
    background: none;
}

.header-right .user-btn {
    border-radius: 50%;
    padding: 3px;
}

.header-right form button {
    background: none;
    color: #919395;
    border: none;
    padding: 0;
}

.header-right img {
    border-radius: 50%;
    width: 37px;
}

.dropdown .dropdown-menu {
    margin-left: -121px;
    margin-top: 20px;
    background: #17181e;
}

.dropdown-menu a {
    color: #919395 !important;
}

.dropdown-menu hr {
    margin: 5px 0;
    border-bottom: 1px solid grey;
}

.dropdown-menu li {
    color: #919395;
    padding-left: 15px;
    cursor: pointer;
    margin: 3px 0;
}

.dropdown-menu li:hover {
    background: #313442 !important;
}

.body-section {
    margin: 15px;
    padding: 15px;
    background: #1f2129;
    color: #919395;
}

.body-section .col-4 a {
    color: #919395 !important;
}

.body-section .col-4 a {
    color: #919395;
    text-decoration: none;
}

.jumbotron {
    background: #313442 !important;
    padding: 30px;
    margin: 10px;
}

.jumbotron h2 {
    color: white;
}

.body-section .col-4 {
    padding: 0;
}

.body-section .inner-item {
    background: #313442;
    padding: 20px;
    margin: 10px;
    border-radius: 4px;
}

.body-section .inner-item:hover {
    cursor: pointer;
    background: #464a5e;
}

.inner-item i {
    color: white;
    font-size: 29px;
}

.inner-item h5 {
    color: white;
}

.inner-item p {
    margin-bottom: 0;
}


/* ======================PRODUCT-LIST====================== */

#table-manage {
    margin-top: 29px;
    margin-left: 300px;
}

.dataTables_wrapper {
    display: block !important;
}

.dataTables_length {
    display: flex;
}

.dataTables_length select {
    margin: 0 10px;
    padding: 7px !important;
    height: 37px !important;
}

.dataTables_filter {
    display: flex !important;
    justify-content: end;
}

.dataTables_filter input {
    height: fit-content;
    margin-left: 10px !important;
}

.dataTables_paginate .pagination li {
    background: none;
    border: none;
    padding: 0 !important;
    font-weight: bold;
}

.dataTables_paginate .pagination a {
    background-color: #272934 !important;
    border-color: #585858 !important;
    color: white !important;
}

.dataTables_paginate .pagination .active a,
.dataTables_paginate .pagination .active a:focus {
    background-color: #323232 !important;
    border-color: #323232 !important;
}

.card .nav-pills .nav-item a {
    font-size: 16px;
    color: white;
    background: #272934;
}

.card .nav-pills .nav-link.active {
    background-color: grey;
    color: white;
}

.card {
    background: #1f2129 !important;
    color: #818181 !important;
}

.card th {
    color: white !important;
}

.card a {
    width: fit-content;
}

#table-manage .form-group input, #table-manage .form-group select, #table-manage .form-group textarea {
    background: none;
    border: 2px solid grey;
    color: white;
}

.card .card-header {
    background: #272934;
    color: white;
}

.card .card-title {
    font-weight: bold;
    font-size: 29px;
}

.card .card-body {
    background: #1f2129;
}

.card .card-body .body-header {
    display: flex;
}

.card .card-body .body-header button {
    margin-bottom: 20px;
}

.card table {
    background: #272934;
}

.card-body .text-alert {
    color: lightgreen;
}

.card-body th {
    padding: 10px 15px !important;
    vertical-align: middle !important;
}

.card-body .text-alert:hover {
    color: green;
}

.card-body select {
    padding: 5px 29px;
}

.card-body option {
    background: #272934;
}

.card-body option:focus {
    background: #14151a;
}

.card-body td a {
    color: #818181;
}

.card-body td a:hover {
    color: white;
    text-decoration: none;
}

.card-body hr {
    border-bottom: 1px solid grey;
}

.card-body th img {
    height: 77px;
}

.modal-content {
    color: white;
    background: #272934 !important;
}

.modal-content .form-group label {
    margin-right: 20px;
}

.modal-content .form-group input,
.modal-content .form-group select {
    width: 72%;
    border: 1px solid grey;
    background: none;
    padding: 4px 10px;
    float: right;
}

.modal-content .form-group option {
    background: #272934 !important;
}

.modal-body .form-group img {
    padding: 10px;
    border: 1px solid grey;
}

.modal-body .form-group textarea {
    background: none;
    color: white;
}

.modal-body .form-image {
    display: inline-block;
}

.modal-body .form-group input.image {
    margin-left: 80px !important;
}

.modal-body .form-group img.form-img {
    float: right;
    width: 72%;
    height: 200px;
    margin-bottom: 10px;
}

.card .order-item {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgb(39 41 52) !important;
}

.card .order-item table {
    background: #191a21 !important;
    width: 100%;
}

.card .order-item,
.card .order-item .user-item {
    display: flex;
}

.card .order-item .card-user {
    padding: 20px;
    font-size: 16px;
    background: #191a21;
}

.card .order-item .card-user .client-info {
    float: right;
    right: 0;
}

.card .order-item .card-user .client-info i {
    font-size: 20px;
    margin-right: 10px;
}

.card .order-item .order-detail p,
.card .order-item .card-user h5,
.card .order-item .card-user .client-info p {
    color: white;
}

.card .order-item .card-user hr {
    margin: 10px 0;
}

.card .order-item table tr {
    border-bottom: 1px solid grey;
}

.card .order-item .order-status {
    margin-top: 10px;
}

.card .order-item .order-status select {
    background: none;
    color: white;
    padding: 6px 20px;
}

@media (max-width: 1440px) {
    .card .order-item .order-detail p,
    .card .order-item .card-user .client-info p {
        font-size: 12px !important;
    }
}

/* ====================================MEMBER-PROFILE==================================== */

.member-profile nav {
    background: #1f2129 !important;
}

.member-profile ol.breadcrumb {
    background: none !important;
}

.member-profile .breadcrumb-item.active {
    color: white;
}

.member-profile .breadcrumb-item a {
    color: grey;
    text-decoration: none;
}

.member-profile .breadcrumb-item a:hover {
    color: black;
}

.member-profile form.form-control {
    background: none;
    border: none;
    height: 100%;
    display: flex;
}

.member-profile .card-body .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.member-profile .card-body .row p {
    font-weight: bold;
}

.member-profile .card-body .col-3 span {
    color: red;
}

.member-profile .card-body .col-9 input {
    padding: 5px 15px;
    background: none;
    border: 1px solid grey;
    font-size: 16px;
}

.member-profile .card-body p {
    font-size: 16px;
}

.member-profile .card-body img {
    width: 150px;
}

.member-profile .card-body li.list-group-item {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.member-profile .card-body li.list-group-item a {
    color: black;
    text-decoration: none;
}

.member-profile .card-body li.list-group-item a:hover {
    font-weight: bold;
}

.card-body .progress {
    height: 5px;
}

.card-body .progress-bar {
    width: 80%;
    background-color: black;
}
