html, body {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 19px !important;
    background-color: #efefef !important;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background: none;
}

::-webkit-scrollbar {
    width: 9px;
    background: none;
}

::-webkit-scrollbar-thumb {
    background-color: #868686;
    width: 9px;
    border-radius: 5px;
}

a {
    transition: all 0.3s linear;
}

/* ====================================LAYOUT==================================== */

.header-section {
    padding-top: 10px;
    background-color: white;
    border-bottom: 1px solid grey;
}

.header-section .navbar {
    position: fixed;
    background: white;
    border-bottom: 2px solid grey;
}

.nav-left {
    display: flex;
}

.nav-left .form-search {
    position: relative;
}

.nav-left .form-search input {
    margin-left: 29px;
    padding-left: 40px;
    border: 2px solid black;
    height: 44px;
    background: none;
    font-size: 17px;
}

.nav-right {
    display: flex;
    justify-content: right;
}

.nav-right button a {
    color: white;
}

.nav-right button a:hover {
    color: grey;
    border-bottom: none;
}

.form-search button {
    font-size: 18px;
    top: 3px;
    left: 30px;
    background: none;
    position: absolute;
}

.nav-right a {
    color: black;
    font-weight: bold;
    display: inline-block;
    outline: none;
    background-color: transparent;
    position: relative;
}

.nav-right li.nav-item a:hover {
    color: #7d7b75;
    text-decoration: none;
    border-bottom: 2px solid #7d7b75;
    transition: none !important;
}

.nav-right .btn-noti {
    padding: 5px 7px 0 5px;
    height: 40px;
    margin-left: 15px;
    margin-right: 10px;
    border: none;
    background: none;
}

.nav-right .btn-noti i {
    font-size: 27px;
}

.nav-right .btn-cart, .btn-noti {
    padding: 0 10px;
    height: 40px;
    margin-right: 20px;
    border: none;
    background: none;
}

.nav-right button.btn-signup a:hover {
    color: white;
    text-decoration: none;
}

.nav-right .dropdown-noti {
    margin-left: -140px !important;
    font-size: 17px !important;
}

.nav-right p.count-noti {
    font-size: 11px;
    font-weight: bold;
    top: -3px;
    right: 8px;
    position: absolute;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    text-align: center;
    width: fit-content;
}

.nav-right button.btn-cart i {
    font-size: 24px;
}

.nav-right button.btn-cart:hover a {
    color: white;
}

.nav-right p.count-cart {
    font-size: 11px;
    font-weight: bold;
    top: -3px;
    right: 17px;
    position: absolute;
    background: black;
    color: white;
    border-radius: 50%;
    padding: 1px 5px;
    text-align: center;
    width: fit-content;
}

.nav-right .dropdown-cart,
.nav-right .dropdown-noti {
    margin-left: -210px !important;
    font-size: 14px !important;
    width: 270px;
}

.dropdown-cart .carts {
    max-height: 275px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dropdown-cart .carts .col-3,
.dropdown-cart .carts .col-7,
.dropdown-cart .carts .col-2 {
    padding: 0 !important;
}

.dropdown-cart .carts .col-3 {
    text-align: right;
}

.nav-right .dropdown-cart li,
.nav-right .dropdown-noti li {
    margin: 5px;
}

.nav-right .dropdown-cart li:hover,
.nav-right .dropdown-noti li:hover {
    opacity: 0.7;
    transition: all 0.3s linear;
}

.nav-right .dropdown-noti img {
    width: 45px;
    height: 45px;
    margin-left: 5px;
}

.nav-right .dropdown-cart img {
    border-radius: 0;
    width: 60px;
}

.nav-right .dropdown-noti .noti-item-remove {
    margin-left: 35px;
}

.nav-right .dropdown-cart .cart-item-infor,
.nav-right .dropdown-noti .noti-item-infor {
    margin-left: 10px;
}

.nav-right .dropdown-cart .cart-item-infor p,
.nav-right .dropdown-noti .noti-item-infor p {
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.nav-right .dropdown-cart .cart-item-infor a:hover,
.nav-right .dropdown-noti .noti-item-infor a:hover {
    text-decoration: none;
    color: grey;
}

.nav-right .dropdown-cart .cart-item-remove button {
    background: none;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .dropdown {
    align-items: center;
}

.dropdown img {
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.dropdown .btn-user {
    border-radius: 50%;
    padding: 3px;
}

.dropdown .dropdown-menu {
    background: white;
}

.navbar-nav .nav-item .dropdown-menu {
    max-height: 300px;
    overflow: scroll;
}

.dropdown-user {
    margin-left: -140px !important;
    font-size: 17px !important;
}

.dropdown-user li a {
    color: black !important;
}

.dropdown-user button {
    border-radius: 0;
    background: none;
    border: none;
    height: 32px;
    margin-left: 18px;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu hr {
    margin: 5px 0;
    border-bottom: 1px solid grey;
}

.navbar-nav .dropdown span {
    font-size: 15px;
    font-weight: bold;
}

#popup_success,
#popup_error {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px 30px;
    width: 500px;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
}

.popup-content span {
    margin-top: 5px;
    font-weight: bold;
}

#popup_success .popup-content i {
    font-size: 22px;
    color: green;
    margin-left: 10px;
}

#popup_error .popup-content i {
    font-size: 22px;
    color: red;
    margin-left: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade {
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.fade-in {
    animation-name: fadeIn;
}

.fade-out {
    animation-name: fadeOut;
}

/* ====================================HOME==================================== */

.home-main .carousel-inner img {
    width: 100%;
}

.home-main .brand-section {
    text-align: center;
    margin: 50px 0;
}

.shopping-section .brand-section .brand {
    background: white;
}

.home-main .brand-section .brand a {
    padding: 15px;
}

.home-main .brand-section .brand .d-flex {
    margin: -29px 0;
}

.home-main .brand, .home-main .brand-banner {
    padding: 0 5px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(129px, 1fr));
}

.home-main .brand-item {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    background: white;
    padding: 10px 0;
}

.home-main .brand-item .row {
    width: 100% !important;
}

.home-main .brand-banner img {
    width: 100%;
}

.home-main .carousel-brand {
    margin: 50px 0;
}

.home-main .shopping-section {
    background: url('../img/background.jpg') no-repeat fixed;
}

.home-main .shopping-section .brand-section .brand img:hover {
    opacity: 0.6;
}

.home-main .shopping-section .col-6 a {
    color: black;
    transition: all 0.3s linear;
}

.home-main .shopping-section .col-6 a:hover {
    color: grey;
    text-decoration: none;
}

.home-main .section-item {
    background: white;
    padding: 5px 0;
}

.home-main .section-item .brand-banner img:hover {
    opacity: 0.7;
}

.home-main .product img {
    width: 186px;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
    height: 140px;
    overflow: hidden;
}

.home-main .product:hover img {
    transition: all 0.5s ease-in-out;
    transform: translateY(-20px);
}

.home-main .product button {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(30px);
    padding: 3px 11px 2px 8px;
}

.home-main .product button a {
    color: black;
}

.home-main .product button:hover a {
    color: white;
}

.home-main .product:hover button {
    opacity: 1;
    transform: translateY(0);
}

.home-main .product-info a:hover {
    color: grey;
    text-decoration: none;
}

.home-main .shopping-section .product-item {
    margin: 50px 0;
}

.home-main .shopping-section .product-item .form-product {
    display: flex;
    justify-content: center;
}

.home-main .shopping-section .product {
    padding: 10px;
    margin: 3px;
    background-color: white;
    height: fit-content !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(129px, 1fr));
}

.home-main .product-info a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s linear;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.home-main .shopping-section .product-item p {
    margin-bottom: 0 !important;
}

.home-main .shopping-section .product-feature {
    display: flex;
    margin-top: -10px;
}

.home-main .shopping-section .product p {
    margin-bottom: 0;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.home-main .sale-section {
    margin: 50px 0;
}

.home-main .sale-section img {
    width: 100%;
}

.home-main .sale-section img:hover {
    opacity: 0.9;
}

.home-main .sale-top, .sale-bottom {
    display: flex;
    margin: 15px 0;
}

.home-main .sale-bottom {
    width: 100%;
}

.home-main .watches-section {
    margin: 60px 0;
}

.home-main .watches-section h4 {
    margin-bottom: 35px;
}

.home-main .watches-section h4 a {
    color: black;
    transition: all 0.3s linear;
}

.home-main .watches-section h4 a:hover {
    color: grey;
    text-decoration: none;
}

.home-main .watches-section .col-2 img {
    margin: 15px 0;
}

.home-main .watches-section h4 b {
    padding-bottom: 7px;
    border-bottom: 7px double black;
}

.home-main .watches-product {
    display: grid;
    grid-template-columns: repeat(3, 229px);
}

.home-main .brand-section .carousel-inner {
    text-align: center;
}

.home-main .carousel-inner .brand .d-flex {
    margin-top: -29px;
}

.home-main .carousel-inner .brand {
    padding: 0 20px 0 20px;
}

.home-main .brand-item .brands {
    display: flex;
}

.news-section {
    display: grid;
    grid-template-columns: repeat(4, 265px);
    grid-template-rows: repeat(2, fit-content()) !important;
    gap: 16px;
}

.news-section .news a {
    color: black;
    transition: all 0.3s linear;
}

.news-section .news a:hover {
    text-decoration: none;
    color: grey;
}

.news-section .news-img {
    position: relative;
    overflow: hidden;
    height: 190px;
}

.news-section .news img {
    width: 100%;
    height: 190px;
    position: absolute;
    transform: scale(1, 1);
    transition: transform 500ms ease-in-out;
}

.news-section .news img:hover {
    transform: scale(1.1, 1.1);
}

.news-section .news .news-info {
    padding-top: 10px;
}

.news-section .news .news-info {
    font-size: 15px;
}

.news-section .news .news-info h6 {
    margin-bottom: 0;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;;
}

.profit {
    margin: 50px 0;
    display: flex;
    text-align: center;
}

.profit .col-4 {
    background: white;
    padding: 20px;
    margin: 0 15px
}

.profit .col-4:hover {
    background: #ececec;
}

.profit i {
    font-size: 66px;
    margin-bottom: 15px;
}

.col-md-3 {
    max-width: 22% !important;
    padding: 10px 29px;
    margin: 0 10px;
}

.brand-section .brand img {
    width: 100%;
}

.fashion-news {
    margin-top: 55px;
    margin-bottom: 100px;
}

footer {
    padding-top: 29px;
    background-color: white;
    border-top: 1px solid grey;
}

footer .footer-top {
    display: flex;
}

footer p {
    margin-bottom: 0;
}

footer li {
    cursor: pointer;
}

footer li.footer-title {
    font-weight: bold;
    margin-bottom: 5px;
}

footer .footer-top .col-lg-5,
footer .footer-top .col-lg-7 {
    display: flex;
    align-items: center;
}

footer .footer-top .col-lg-7 button {
    margin: 0 7px;
}

footer .footer-top .col-lg-5 {
    justify-content: right
}

footer .footer-top .col-lg-5 a {
    color: black;
    font-weight: bold;
}

footer .col-5 a:hover {
    color: grey;
    text-decoration: none;
}

footer .cre {
    margin: 20px 0;
    display: flex;
}

footer .cres {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 300px) !important;
}

footer .cre .cre-item {
    padding-left: 10px;
    border-left: 2px solid grey;
    height: fit-content;
}

footer .cre ul {
    padding-left: 0;
    margin: 0;
}

footer .cre ul li {
    display: block;
    font-size: 15px;
}

footer .footer-bottom {
    text-align: center;
    display: flex;
}

footer .col-4 h6 {
    margin-bottom: 0;
}

footer .col-4 .d-flex a {
    color: black;
}

footer .col-4 .d-flex a:hover {
    text-decoration: none;
    color: grey;
}

footer .col-4 .d-flex i {
    font-size: 25px;
    margin: 7px 9px;
}

footer hr {
    width: 100%;
    margin: 0;
    border-bottom: 2px solid black;
}

footer .cre .cre-item li a:hover {
    color: black;
    text-decoration: none;
    cursor: no-drop;
}

footer .footer-desc {
    display: flex;
    text-align: center;
    margin-top: 5px;
}

/* ====================================PRODUCT==================================== */

.product-main .banner-product {
    margin-top: 64px;
    padding: 37px 0;
    background: url('../img/poster/browse-headersSneakers.jpg') no-repeat;
    background-size: 100%;
}

.product-main .product-body {
    margin-top: 37px;
    padding-bottom: 100px;
}

.product-main .product-body .col-2 {
    padding: 0 !important;
}

.product-main .left-item {
    position: relative;
    display: grid;
    padding: 15px 0 15px 27px;
    margin: 29px 0;
    background: white;
}

.product-main .left-item h5 {
    font-weight: bold;
    position: absolute;
    padding: 5px;
    background: #efefef;
}

.product-main .category-item h5 {
    margin-left: 20px;
    margin-top: -24px;
}

.product-main .brand-item .brands {
    display: flex;
}

.product-main .category-item .cat-ele,
.product-main .brand-item .brand-ele {
    display: contents;
}

.product-main .brand-item h5 {
    margin-left: 20px;
    margin-top: -24px;
}

.product-main .left-item a {
    font-weight: bold;
    color: black;
    margin: 5px;
}

.product-main .left-item a:hover {
    color: grey;
    text-decoration: none;
    width: fit-content;
}

.product-main .feature-product {
    display: flex;
}

.product-main .feature-product select {
    border: 1px solid grey;
    padding: 10px 15px;
    text-align: center;
}

.product-main .product-section {
    display: grid;
    grid-template-columns: repeat(4, 219px);
    grid-template-rows: repeat(6, fit-content());
    gap: 14px;
}

.product-main .product-title a {
    color: black;
    font-weight: bold;
}

.product-main .product-title a:hover {
    color: grey;
    text-decoration: none;
}

.product img {
    width: 100%;
    height: 134px;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}

.product:hover img {
    transition: all 0.5s ease-in-out;
    transform: translateY(-20px);
}

.product button {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(30px);
    padding: 3px 11px 2px 8px;
}

.product:hover button {
    opacity: 1;
    transform: translateY(0);
}

.product {
    padding: 20px 20px 7px 20px;
    background-color: white;
}

.product .product-feature {
    margin-top: -10px;
}

.product-feature button {
    margin: 0 3px;
}

.product .product-feature a:hover {
    text-decoration: none;
}

.product h6, .product p {
    margin: 0;
    font-size: 17px;
}

.product .product-info {
    margin-top: 0;
}

.product .product-info a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s linear;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.product .product-info a:hover {
    color: grey;
    text-decoration: none;
}

/* ====================================PRODUCT-DETAIL==================================== */

.product-detail-main .product-detail-body {
    background: white;
    padding-bottom: 100px;
}

.product-detail-main .product-detail {
    width: 100%;
    margin: 100px 0;
}

.product-detail-main .product-detail .img-detail {
    overflow: hidden;
}

.product-detail-main .product-detail img {
    transform: scale(1, 1);
    transition: transform 500ms ease-in-out;
 }

.product-detail-main .product-detail img:hover {
    transform: scale(1.1, 1.1);
}

.product-detail-main .product-detail-title a {
    color: black;
}

.product-detail-main .product-detail-title a:hover {
    color: grey;
    text-decoration: none;
}

.product-detail-main .tag {
    margin: 10px;
}

.product-detail-main .tag a {
    color: green;
    padding: 3px 10px;
    border: 1px solid green;
    border-radius: 12px;
}

.product-detail-main .tag a:hover {
    text-decoration: none;
    color: lightgreen;
}

.product-detail-main .product-main {
    display: flex;
}

.product-detail-info .product-description {
    display: flex;
    margin-top: 40px;
}

.product-detail-main .product-detail-selection {
    position: relative;
    background: white;
    display: flex;
    justify-content: center;
    margin: 45px 60px 25px 60px;
    padding: 37px 20px 20px 20px;
    border: 1px solid grey;
}

.product-detail-main .product-detail-selection h2 {
    margin-top: -62px;
    padding: 1px 20px;
    background: white;
    position: absolute;
    border: 1px solid grey;
}

.product-detail-main .product-detail-selection .qty-select {
    margin-top: 10px;
}

.product-detail-main .product-detail-selection button {
    width: 100%;
    margin: 7px 0;
}

.product-detail-main .product-detail-selection button:hover a {
    color: white;
}

.product-detail-main .product-detail-selection select {
    padding: 6px 10px;
}

.product-detail-main .product-detail-selection .qty {
    position: relative;
}

.product-detail-main .product-detail-selection .qty input {
    position: relative;
    width: 100%;
    height: 39px;
    padding: 0 10px;
    margin-left: 10px;
}

.product-detail-main .product-detail-selection .qty p {
    padding-top: 3px;
}

.product-detail-main .product-detail-selection .up-down-ic {
    position: absolute;
    display: grid;
    height: 47px;
    right: 0;
    margin-top: -5px;
    margin-right: 26px;
}

.product-detail-main .product-detail-selection .up-down-ic a {
    height: 5px;
}

.product-detail-main .product-detail-selection .qty .col-4 select {
    width: 100%;
    margin: 2px 0 !important;

}

.product-detail-main .product-detail-selection form i {
    font-size: 22px;
}

.product-detail-main .product-detail-info .table-info {
    margin-left: 60px;
    background: none;
}

.product-detail-main .product-detail-info .table-info td {
    padding-right: 29px;
}

.product-detail-main .product-detail-info, .product-detail-main .related-product {
    margin-top: 29px;
    border-top: 1px solid grey;
    position: relative;
}

.product-detail-main .related-product {
    display: grid;
    grid-template-columns: repeat(5, 210px);
    gap: 15px;
}

.product-detail-main .product-detail-info h4, .related-product h4 {
    position: absolute;
    padding: 5px 20px;
    margin-top: -24px;
    margin-left: 20px;
    background: grey;
    color: white;
    width: fit-content;
}

.product-detail-main .product-detail-info .d-flex, .related-product .product {
    margin: 50px 0;
}

.product-detail-main .related-product .product img {
    width: 100%;
    height: 148px;
}

.product-detail-main .related-product .product {
    padding: 20px 20px 7px 20px;
    background-color: white;
}

.product-detail-main .product-detail .feature {
    margin-top: 15px;
}

.product-detail-main .product-detail .feature i {
    color: black;
    font-weight: bold;
    font-size: 27px;
    margin: 0 5px;
}

.product-detail-main .product-detail .feature i:hover {
    color: grey;
}

.product-detail .fb-share-button {
    background: #2f477a;
    height: 30px;
    padding: 0 10px;
    margin: -3px 0 0 5px;
    border-radius: 4px;
}

/* ====================================POST==================================== */

.post-main a {
    color: black;
}

.post-main a:hover {
    color: grey;
    text-decoration: none;
}

.post-main .carousel-section {
    margin-top: 64px;
}

.post-main .popular-post {
    margin: 50px 0;
}

.post-main .popular-post .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.post-main .post-item-type-1 {
    display: flex;
    padding: 10px 0;
    margin: 5px;
    background: white;
}

.post-main .post-item-type-1 .post-image img {
    width: 100%;
    height: 100%;
}

.post-main .post-item-type-1 .post-infor {
    padding: 0;
}

.post-main .post-title b {
    margin-bottom: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-main .post-description p {
    margin-bottom: 0;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.post-main .post-infor .col-5,
.post-main .post-infor .col-7 {
    padding: 0;
}

.post-main .post-infor .post-feature {
    justify-content: end;
    padding-right: 15px;
}

.post-main .post-author {
    display: flex;
}

.post-main .post-author img {
    border-radius: 50%;
    width: 37px;
}

.post-main .post-feature {
    display: flex;
    align-items: end;
}

.post-main .post-feature button {
    margin: 0 2px;
}

.post-main .post-item form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(129px, 1fr));
}

.post-main .post-item-type-2 {
    padding: 10px;
}

.post-main .post-item-type-2 .post-image img {
    width: 100%;
    height: 188px;
}

.post-main .post-item-type-2 .author-name {
    display: flex;
}

.post-main .body-post, .suggest-post, .newest-post {
    margin: 50px 0;
}

.post-main .body-post {
    display: flex;
}

.post-main .body-post .form-search {
    position: relative;
    border-bottom: 3px solid grey;
}

.post-main .body-post .form-search label {
    margin-bottom: 0;
}

.post-main .body-post .form-search input {
    padding-left: 40px;
    border: none;
    height: 44px;
    background: none;
    font-size: 17px;
}

.post-main .body-post .form-search button {
    font-size: 18px;
    top: 3px;
    left: 7px;
    background: none;
    position: absolute;
}

.post-main .body-post .col-9 {
    padding-left: 0 !important;
}

.post-main .body-post .post-image img {
    width: 100%;
    height: 170px;
}

.post-main .body-post .post-item-type-1 {
    padding: 10px 0;
    margin: 10px;
    background: white;
}

.post-main .body-post .post-item-type-1 .post-description p {
    margin-bottom: 0;
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-main .post-item-type-1 .post-author {
    margin-top: 22px;
}

.post-main .post-item-type-1 .author-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}

.post-main .body-post .search-post {
    margin-bottom: 50px;
}

.post-main .body-post .tag-post {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
}

.post-main .body-post .tag-item {
    margin: 5px;
    padding: 5px 10px;
    background: grey;
}

.post-main .body-post .tag-item p {
    margin-bottom: 0;
}

.post-main .body-post .tag-item a {
    color: white;
}

.post-main .body-post .banner img {
    width: 100%;
}

/* ====================================CART==================================== */

.cart-body {
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
    min-height: 639px;
}

.cart-body .product-cart {
    margin-bottom: 29px;
}

.cart-body .product-cart table {
    width: 100%;
    border: 3px solid grey !important;
}

.cart-body .product-cart .tbl-header {
    background: grey;
    color: white;
}

.cart-body table tr.tbl-body .d-flex input {
    width: 55px;
}

.cart-body table tr.tbl-body .d-flex input.btn-dark {
    width: fit-content;
}

.cart-body .product-cart .tbl-header td {
    border: 1px solid white;
    padding: 0 10px;
}

.cart-body .product-cart .tbl-body td {
    border: 1px solid grey;
    margin-bottom: 29px;
    padding: 0 10px;
}

.cart-body .product-cart .tbl-body a {
    color: black;
}

.cart-body .product-cart .tbl-body a:hover {
    color: grey;
}

td .container {
    display: block;
    position: relative;
    cursor: pointer;
    margin-top: -13px !important;
    margin-right: -13px !important;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

td .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #232525;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* ====================================CHECKOUT==================================== */

.checkout-body {
    padding-top: 100px;
    padding-bottom: 100px;
    background: white;
}

.checkout-body .list-item {
    margin-top: 29px;
    vertical-align: center;
}

.checkout-body .client-info {
    margin: 0 20px 20px 20px;
}

.checkout-body .client-info {
    border: 1px solid grey;
    padding: 15px;
}

.checkout-body .client-info input {
    width: 100%;
    background: none;
    border: 1px solid grey;
    padding: 7px 15px;
    margin: 7px 0;

}

.checkout-body .checkout-section {
    border: 1px solid grey;
    padding: 15px;
    margin: 0 20px;
}

.checkout-body table tr.tbl-body {
    border-bottom: 1px solid grey;
    margin: 15px 10px;
}

.checkout-body table tr.tbl-body .d-flex {
    align-items: center;
}

.checkout-body table tr.tbl-body .d-flex .col-8 input {
    width: 55px;
}

.checkout-body table td {
    padding: 5px 15px;
}

.checkout-body .checkout-section select {
    padding: 4px 10px;
    width: 100%;
}

.checkout-body .checkout-section button {
    width: 100%;
}

.checkout-body .checkout-section form {
    margin-right: 10px;
}

.checkout-body .other-payment button {
    background: none;
    border: none;
}

/* ====================================FINISH-PAYMENT==================================== */

.payment-body {
    padding-top: 200px;
    padding-bottom: 100px;
    background: white;
}

.payment-item input {
    width: 30px;
    height: 17px;
}

/* ====================================ORDER-STATUS==================================== */

.order-status {
    margin: 50px 0;
}

.order-status .nav-pills {
    justify-content: center;
}

.order-status .nav-pills .nav-item a {
    color: black;
    background: white;
}

.order-status .nav-pills .nav-link.active {
    background-color: grey;
    color: white;
}

.order-status .card-body .row-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-status .card-body p.text-muted {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.order-status .tab-content .order-detail {
    font-size: 13px;
}

.order-status .tab-content .card-order {
    margin: 10px 0;
    display: flex;
}

.order-status .tab-content .card-user {
    padding: 20px !important;
    background: white;
    font-size: 16px;
}

.order-status .tab-content .card-user .client-info i {
    font-size: 20px;
    margin-right: 10px;
}

.order-status .tab-content .card-user hr {
    margin: 10px 0;
}

.order-status .tab-content .order-detail p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.order-status .tab-content .order-detail hr {
    margin: 10px 0;
}

.order-status .tab-content .track-order-status {
    padding: 10px;
    background: white;
}

/* ====================================CUSTOMER-PROFILE==================================== */

.customer-profile nav {
    background: white !important;
}

.customer-profile ol.breadcrumb {
    background: none !important;
}

.customer-profile .breadcrumb-item.active {
    color: black;
}

.customer-profile .breadcrumb-item a {
    color: grey;
    text-decoration: none;
}

.customer-profile .breadcrumb-item a:hover {
    color: black;
}

.customer-profile form.form-control {
    background: none;
    border: none;
    height: 100%;
    display: flex;
}

.customer-profile .card-body .row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.customer-profile .card-body .row p {
    font-weight: bold;
}

.customer-profile .card-body .col-3 span {
    color: red;
}

.customer-profile .card-body .col-9 input {
    padding: 5px 15px;
    background: none;
    border: 1px solid grey;
    font-size: 16px;
}

.customer-profile .card-body p {
    font-size: 16px;
}

.customer-profile .card-body img {
    width: 150px;
    height: 150px;
}

.customer-profile .card-body li.list-group-item {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

}

.customer-profile .card-body li.list-group-item a {
    color: black;
    text-decoration: none;
}

.customer-profile .card-body li.list-group-item a:hover {
    font-weight: bold;
}

.customer-profile .card-body .progress {
    height: 5px;
}

.customer-profile .card-body .progress-bar {
    width: 80%;
    background-color: black;
}

input[type="file"] {
    display: none !important;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px;
}

/* ====================================POST-DETAIL==================================== */

.post-detail {
    margin-top: 100px;
}

.post-detail .entry-card {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.post-detail .entry-content {
    background-color: #fff;
    padding: 36px 36px 36px 36px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.post-detail .entry-content .entry-title a {
    color: #333;
}

.post-detail .entry-content .entry-title a:hover {
    color: #4782d3;
}

.post-detail .entry-content .entry-meta span {
    font-size: 12px;
}

.post-detail .entry-title {
    font-size: .95rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.post-detail .entry-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-detail .entry-thumb img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.post-detail .entry-thumb .thumb-hover {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(71, 130, 211, 0.85);
    display: block;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    line-height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.post-detail .entry-thumb:hover .thumb-hover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
}

.post-detail .post-img {
    height: 450px;
    overflow: hidden;
}

.post-detail .post-img img {
    width: 100%;
}

.post-detail .article-post {
    border-bottom: 1px solid #eee;
    padding-bottom: 70px;
}

.post-detail .article-post .post-thumb {
    display: block;
    position: relative;
    overflow: hidden;
}

.post-detail .article-post .post-thumb .post-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all .3s;
    -webkit-transition: all .3s;
    opacity: 0;
}

.post-detail .article-post .post-thumb .post-overlay span {
    width: 100%;
    display: block;
    vertical-align: middle;
    text-align: center;
    transform: translateY(70%);
    -webkit-transform: translateY(70%);
    transition: all .3s;
    -webkit-transition: all .3s;
    height: 100%;
    color: #fff;
}

.post-detail .article-post .post-thumb:hover .post-overlay {
    opacity: 1;
}

.post-detail .article-post .post-thumb:hover .post-overlay span {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
}

.post-detail .post-content .post-title {
    font-weight: 500;
}

.post-detail .post-meta {
    padding-top: 15px;
    margin-bottom: 20px;
}

.post-detail .post-meta li:not(:last-child) {
    margin-right: 10px;
}

.post-detail .post-meta li a {
    color: #999;
    font-size: 13px;
}

.post-detail .post-meta li a:hover {
    color: #4782d3;
}

.post-meta li i {
    margin-right: 5px;
}

.post-detail .post-meta li:after {
    margin-top: -5px;
    content: "/";
    margin-left: 10px;
}

.post-detail .post-meta li:last-child:after {
    display: none;
}

.post-detail .post-masonry .masonry-title {
    font-weight: 500;
}

.post-detail .share-buttons li {
    vertical-align: middle;
}

.post-detail .share-buttons li a {
    margin-right: 0;
}

.post-detail .post-content a h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0;
}

.post-detail .article-post .owl-carousel {
    margin-bottom: 20px !important;
}

.post-detail .post-masonry h4 {
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
}

.post-detail .col-md-9.mb40 {
    margin-bottom: 40px !important;
    padding: 15px;
    background: white;
}

.post-detail .col-md-3.mb40 {
    padding: 0 !important;
}

.post-detail .mb30 {
    margin-bottom: 30px !important;
}

.post-detail .media-body h5 a {
    color: #555;
}

.post-detail .categories li a:before {
    content: "\f0da";
    margin-right: 5px;
}

.post-detail .sidebar-title {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.post-detail .categories li {
    vertical-align: middle;
}

.post-detail .categories li > ul {
    padding-left: 15px;
}

.post-detail .categories li > ul > li > a {
    font-weight: 300;
}

.post-detail .categories li a {
    color: #999;
    position: relative;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
}

.post-detail .categories li a:before {
    content: "\f0da";
    margin-right: 5px;
}

.post-detail .categories li a:hover {
    color: #444;
    background-color: #f5f5f5;
}

.post-detail .categories > li.active > a {
    font-weight: 600;
    color: #444;
}

.post-detail .media-body h5 {
    font-size: 15px;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.post-detail .media-body h5 a {
    color: #555;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-detail .media-body h5 a:hover {
    color: grey;
    text-decoration: none;
}

.post-detail .tag-post {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.post-detail .tag-item {
    margin: 5px;
    padding: 5px 10px;
    background: grey;
    transform: scale(1, 1);
    transition: transform 555ms;
}

.post-detail .tag-item:hover {
    transform: scale(1.1, 1.1);
    transition: transform 555ms;
}

.post-detail .tag-item a {
    color: white;
    text-decoration: none;
}

.post-detail .media img.author-img {
    border-radius: 50%;
}

.post-detail .list-inline-item {
    margin: 0 !important;
    padding: 0 !important;
}

.post-detail .list-unstyled .media {
    margin: 10px 0;
    padding: 5px;
    background: white;
    display: flex;
    align-items: center;
}

.post-detail .list-unstyled .media img{
    width: 64px;
    height: 64px;
}

.post-detail .list-unstyled .media h5 {
    margin-bottom: 0;
}

.post-detail .form-search {
    position: relative;
    border-bottom: 3px solid grey;
}

.post-detail .form-search label {
    margin-bottom: 0;
}

.post-detail .form-search input {
    padding-left: 40px;
    border: none;
    height: 44px;
    background: none;
    font-size: 17px;
}

.post-detail .form-search button {
    font-size: 18px;
    top: 3px;
    left: 7px;
    background: none;
    position: absolute;
}

.post-detail .banner img {
    width: 100%;
}

.post-detail .post-feature {
    display: flex;
}

.post-detail .post-feature form {
    margin: 0 5px;
}

.post-detail .fb-share-button {
    background: #2f477a;
    padding: 0 10px;
    margin: -3px 0 0 5px;
    border-radius: 4px;
}

/* ====================================CAROUSEL-ITEM==================================== */

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel button {
    padding: 0 7px;
}

.MultiCarousel .MultiCarousel-inner .item > div {
    text-align: center;
    margin: 0 5px;
}

.MultiCarousel .leftLst, .MultiCarousel .rightLst {
    border: none;
    position: absolute;
    top: calc(50% - 20px);
    font-size: 25px;
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over {
    pointer-events: none;
    background: none;
    opacity: 0.3;
}

/* ====================================SAVED-POST==================================== */

.saved-post {
    margin: 50px 0;
}

.saved-post .nav-pills {
    justify-content: center;
}

.saved-post .nav-pills .nav-item a {
    color: black;
    background: white;
}

.saved-post .nav-pills .nav-link.active {
    background-color: grey;
    color: white;
}

.saved-post .post-item-type-1 {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: white;
}

.saved-post .post-author {
    display: flex;
}

.saved-post .post-author img {
    border-radius: 50%;
    width: 47px;
}

.saved-post .post-item-type-1 .post-image img {
    width: 100%;
    height: 200px;
}

.saved-post .post-item-type-1 .post-infor {
    padding: 0;
}

.saved-post .post-item-type-1 .post-infor .post-title a {
    color: black;
    text-decoration: none;
}

.saved-post .post-item-type-1 .post-infor .post-title a:hover {
    color: grey;
}

.saved-post .post-item-type-1 .post-description p {
    font-size: 15px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.saved-post .post-item-type-1 .author-name {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 15px;
}

.saved-post .post-item-type-1 .post-feature {
    display: flex;
    justify-content: end;
}

.saved-post .post-item-type-1 .post-feature form {
    margin: 5px;
}
