@media (max-width: 425px) {
    .header-section .col-xs-6 {
        width: 50%;
    }

    .header-section .col-xs-6 a.nav-brand {
        display: none;
    }

    .header-section i {
        font-size: 20px;
    }

    .header-section ul.navbar-nav .btn-noti i,
    .header-section ul.navbar-nav .btn-cart i {
        font-size: 20px;
    }

    .header-section .nav-left .form-search input {
        height: 37px;

    }

    .header-section .nav-left .form-search button {
        top: 0;
    }

    .header-section .nav-left .form-search i {
        font-size: 15px;
    }

    .header-section .dropdown img {
        width: 30px;
        height: 30px;
    }

    /*home*/
    .home-main .carousel-section .carousel-item img {
        height: 200px;
    }

    .home-main .navbar ul.navbar-nav {
        float: right;
    }

    .home-main .navbar-nav .nav-link {
        padding: 0;
    }

    .home-main .navbar-brand img {
        display: none !important;
    }

    .home-main .product img {
        width: 100%;
    }

    .home-main .shopping-section .product-item .form-product {
        display: grid;
        grid-template-columns: repeat(2, minmax(129px, 1fr));
    }

    .home-main .shopping-section .product {
        padding: 5px;
    }

    .home-main .brand-item .brands {
        display: grid;
        grid-template-columns: repeat(2, minmax(129px, 1fr));
    }

    .home-main .fashion-news h6 {
        font-size: 15px;
    }

    .home-main .news-section {
        display: grid;
        grid-template-columns: repeat(2, 170px) !important;
        gap: 7px;
    }

    .home-main .news-section .news-img {
        height: 150px;
    }

    .home-main .news-section .news-info h6 {
        font-size: 13px;
    }

    .home-main .news-section .news-info small {
        font-size: 10px;
    }

    .home-main .news-section .news-created {
        display: none;
    }

    .home-main .profit {
        width: 317px;
    }

    .home-main .profit .col-4 {
        width: 100px;
        padding: 20px 10px;
        margin: 0 5px;
    }

    .home-main .profit h4 {
        font-size: 14px;
    }

    .home-main .profit h6 {
        display: none;
    }

    .home-main .profit i {
        font-size: 25px;
    }

    footer .footer-top {
        display: inline-block;
    }

    footer .footer-top button {
        font-size: 9px;
    }

    footer .footer-top .col-lg-5 {
        margin-top: 10px;
    }

    footer .footer-top a {
        font-size: 13px;
    }

    footer .cre {
        display: contents;
        margin: 5px 0;
        width: 622px;
    }

    footer .cres {
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(4, 86px) !important;
    }

    footer .cre-item,
    footer .cre .cre-item {
        width: 100px;
    }

    footer .cre .cre-item li {
        font-size: 9px;
    }

    footer .cre .col-4 {
        display: none !important;
    }

    footer .footer-bottom h6 {
        font-size: 11px;
    }

    footer .col-4 .d-flex i {
        font-size: 15px;
    }

    footer .footer-desc p,
    footer .footer-desc h6 {
        font-size: 11px;
    }

    /*product-main*/
    .product-main .banner-product {
        padding: 10px;
    }

    .product-main .banner-product h1 {
        font-size: 20px;
    }

    .product-main .banner-product p,
    .product-main .product-section .product-info a {
        font-size: 13px;
    }

    .product-main .cat-ele,
    .product-main .brand-ele {
        display: grid !important;
        max-height: 171px;
        overflow: scroll;
    }

    .product-main .feature-product {
        display: inline-grid;
    }

    .product-main .product-section {
        grid-template-columns: repeat(2, 170px) !important;
        gap: 7px;
    }

    .product-main .product-section .product {
        padding: 20px 7px 5px 7px;
    }

    .product-main .product-section .product-feature button {
        font-size: 11px;
    }


    /*product-detail*/
    .product-detail-main .product-main {
        display: contents;
    }

    .product-detail-main .product-detail-selection {
        width: 100%;
        margin: 0;
    }

    .product-detail-main .product-detail {
        margin: 30px 0;
    }

    .product-detail-main .product-detail-info .product-description {
        margin-top: 30px;
        display: block;
        font-size: 12px;
    }

    .product-detail-main .product-detail-info .table-info {
        margin-left: 0;
    }

    .product-detail-main .related-product {
        padding: 37px 0;
        grid-template-columns: repeat(2, 172px);
        gap: 10px;
    }

    .product-detail-main .related-product .product {
        padding: 15px 10px;
        margin: 0;
    }

    .product-detail-main .related-product .product img {
        width: 100%;
        height: 100px;
    }

    .product-detail-main .related-product .product .product-feature button {
        font-size: 14px;
    }

    .product-detail-main .product-main .feature i {
        font-size: 20px;
    }

    .product-detail-main .product-detail-title h2{
        margin-bottom: 30px;
    }

    .product-detail-main .product-detail-title u {
        font-size: 28px;
    }

    .product-detail-main .product-detail-feature small {
        font-size: 10px;
    }

    .product-detail-main .product .product-info small,
    .product-detail-main .product .product-info a {
        font-size: 13px;
    }

    .product-detail-info h4,
    .related-product h4 {
        font-size: 20px;
    }

    /*post-main*/
    .post-main .carousel-section .carousel-item img,
    .post-main .carousel-post .carousel-item img {
        height: 150px;
    }

    .post-main .newest-post .news-section,
    .post-main .suggest-post .news-section {
        grid-template-columns: repeat(2, 165px);
        gap: 10px;
    }

    .post-main .body-post {
        display: block;
    }

    .post-main .post-item-type-1 .post-image {
        display: flex;
        align-items: center;
    }

    .post-main .post-item-type-1 .post-infor small {
        font-size: 11px;
    }

    .post-main .post-item-type-1 .post-infor .post-title a,
    .post-main .post-item-type-1 .post-infor .post-author .author-name b,
    .post-main .news-section .news-info h6 {
        font-size: 13px;
    }

    .post-main .post-item-type-1 .post-infor .post-author {
        margin-top: 0;
    }

    .post-main .post-item-type-1 .post-infor .post-author img {
        width: 25px;
    }

    .post-main .post-item-type-1 .post-infor .post-feature {
        display: none;
    }

    .post-main .body-post .post-item-type-1 .post-description p {
        font-size: 12px;
    }

    .post-main .body-post .post-image img {
        width: 100%;
        height: 80%;
    }

    .post-main .post-item-type-1 .col-xs-12 {
        padding: 0;
    }

    .post-main .post-item-type-1 .post-type .col-9 {
        padding: 0;
    }

    .post-main .post-item-type-1 .post-type .col-3 {
        padding-left: 0;
    }

    .post-main .news-section {
        display: grid;
        grid-template-columns: repeat(2, 170px) !important;
        gap: 7px;
    }

    .post-main .news-section .news-img {
        height: 150px;
    }

    .post-main .news-section .news-info small {
        font-size: 10px;
    }

    .post-main .news-section .news-created {
        display: none;
    }

    /*post-detail*/
    .post-detail .post-img {
        height: fit-content;
    }

    .post-detail .post-meta li {
        font-size: 14px;
    }

    .post-detail .post-feature button {
        font-size: 10px;
    }

    .post-detail .fb-share-button {
        margin: 0 0 0 5px;
    }

    .post-detail .post-content h4 {
        font-size: 20px;
    }

    .post-detail .post-content h5 {
        font-size: 15px;
    }

    .post-detail .media img.author-img {
        width: 50px;
    }

    .post-detail .media-body {
        font-size: 11px;
    }

    .post-detail .media i {
        font-size:20px;
    }

    .post-detail .post-content p,
    .post-detail .form-group input,
    .post-detail .form-group textarea,
    .post-detail .clearfix button {
        font-size: 13px;
    }

    /*checkout*/
    .checkout-body table {
        margin: 0 10px;
    }

    .checkout-body .tbl-body,
    .checkout-body .client-info input,
    .checkout-body .checkout-section,
    .checkout-body a.back-to-cart button {
        font-size: 13px;
    }

    .checkout-body .tbl-body img {
        width: 80px;
        height: 60px;
    }

    .checkout-body .tbl-body td {
        padding: 0 5px;
    }

    .checkout-body .tbl-body .col-8,
    .checkout-body .tbl-body .col-4 {
        padding: 0;
    }

    .checkout-body .tbl-body input[type="number"] {
        width: 30px !important;
    }

    .checkout-body .tbl-body input[type="submit"] {
        font-size: 9px;
    }

    .checkout-body .tbl-body form button {
        font-size: 9px;
    }

    .checkout-body .client-info {
        margin-top: 20px;
    }

    /*finish-payment*/
    .payment-body h1 {
        font-size: 20px;
    }

    .payment-body h4,
    .payment-body h5 {
        font-size: 13px;
    }

    .payment-body button {
        font-size: 13px;
        margin: 50px 0 0 15px;
    }

    /*customer-profile*/
    .customer-profile nav .breadcrumb li,
    .customer-profile .card-body button,
    .customer-profile .card-body input {
        font-size: 13px !important;
    }

    .customer-profile form.form-control {
        display: block;
    }

    .customer-profile .col-3 {
        padding: 0;
    }

    .customer-profile .card-body p {
        font-size: 10px;
    }


    .customer-profile .col-6 .card-body p {
        margin: 10px 0 !important;
    }

    /*saved-post*/
    .saved-post .py-5 {
        padding: 20px 0 0 0 !important;
    }

    .saved-post li.nav-item a {
        font-size: 15px;
    }

    .saved-post .post-item-type-1 .post-image {
        display: flex;
        align-items: center;
    }

    .saved-post .post-item-type-1 .post-infor small {
        font-size: 11px;
    }

    .saved-post .post-item-type-1 .post-infor .post-title a,
    .saved-post .post-item-type-1 .post-infor .post-author .author-name b {
        font-size: 13px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .saved-post .post-item-type-1 .post-infor .post-author {
        margin-top: 0;
    }

    .saved-post .post-item-type-1 .post-infor .post-author img {
        width: 25px;
    }

    .saved-post .post-item-type-1 .post-infor .post-feature {
        display: none;
    }

    .saved-post .post-item-type-1 .post-description p {
        font-size: 12px;
        margin: 0;
    }

    .saved-post .post-item-type-1 .col-4 {
        padding: 5px 5px 5px 0;
    }

    .saved-post .post-item-type-1 .post-image img {
        width: 100px;
        height: 95px;
    }

    .saved-post .post-item-type-1 .col-xs-12,
    .saved-post .post-item-type-1 .post-type .col-9 {
        padding: 0;
    }

    .saved-post .post-item-type-1 .post-type .col-3 {
        padding-left: 0;
    }

    /*order-status*/
    .order-status li.nav-item a {
        font-size: 8px;
    }

    .order-status .tab-content .card-order {
        display: block;
    }

    .order-status .tab-content .card-order .col-lg-4 {
        margin: 10px 0;
    }

    .order-status .card-order .card-body img {
        width: 80px;
        height: 50px;
    }

    .order-status .card-order .card-body .row-item p,
    .order-status .track-order-status p,
    .order-status .card-user .client-info p {
        font-size: 13px;
    }

    .order-status .card-body .col-1,
    .order-status .card-body .col-2,
    .order-status .card-body .col-3,
    .order-status .card-body .col-4{
        padding: 0 !important;
    }

}
